

@using MeetingVL.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Template/Login/css/grid.css" rel="stylesheet" />
    <link href="~/Template/Login/css/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="slider" class="row">
            <div class="col l-12 m-12 c-12 form-login-wrap">
                <p class="form-login-desc">Wellcome to meeting VanLang</p>
                <p class="form-login-line"></p>
                <div class="form-login">
                    <div class="form-logo">

                        <img src="~/Template/app-assets/img/LogoVL.png" class="form-logo-link" alt="Logo">
                    </div>
                    <p class="form-name">Morality - Will - Creativity</p>
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    
                    <p class="form-desc">Login with VanLang account</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
