@model IEnumerable<MeetingVL.Models.ProjectParticipant>

@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h4 class="card-title">Bar Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block chartjs">
                    <canvas id="column-chart" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
