@model IEnumerable<MeetingVL.Models.ProjectParticipant>

@{
    Layout = null;
    int group_id = 0;
}


    @foreach (var item in Model)
    {
        if (group_id != item.Group_ID)
        {
            group_id = item.Group.ID;
            <option value="@item.Group_ID">@item.Group.Name</option>
        }

    }
