@model IEnumerable<MeetingVL.Models.Session_Semester>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    int project_id = int.Parse(TempData["project_id"].ToString());
    int semester_id = int.Parse(TempData["semester_id"].ToString());
}


<section id="horizontal">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-danger">
                        <h4 class="card-title">Semester</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <table class="table display nowrap table-striped table-bordered scroll-horizontal">
                            <thead>
                                <tr>
                                    <th>Name Group</th>
                                    @foreach (var item in Model)
                                    {
                                        <th>@item.SessionReport.Name</th>
                                    }
                                    <th>Đánh giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.Action("List_Group_Semester", "ProjectParticipants", new { project_id = project_id, semester_id = semester_id })

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
