@model IEnumerable<MeetingVL.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = null;
    string avt = "";
   
}

@foreach (var item in Model)
{
    if (item.User.Avt != null)
    {
        avt = item.User.Avt;
    }
    else
    {
        avt = "~/Template/app-assets/img/user.png";
    }
    <div class="media">
        <div class="media-left mr-2">
            <a>
                <span class="avatar avatar-online">
                    <img src="@Url.Content(avt)" class="rounded-circle" alt="avatar" width="50">
                </span>
            </a>
        </div>
        <div class="media-body">
            <p class="text-bold-600 mb-0">
                <a>@item.User_ID</a>
            </p>
            <p class="m-0">@item.Comment1</p>
        </div>
    </div>
    <br />
}
