@model IEnumerable<MeetingVL.Models.Notification>

@{
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
}

<section id="grid-option">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Announcement</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block text-white">
                        <div class="col-12">
                            <div style="background-color: #03A9F4 " class="card">
                                <div class="card-body">
                                    <div class="media align-items-stretch">
                                        <div class="actions float-right">
                                            <div class="dropdown ml-2 display-inline-block">
                                                <a id="apps" href="" data-toggle="dropdown" class="ft-more-vertical white" aria-expanded="false"></a>
                                                <div class="apps dropdown-menu">
                                                    <div class="arrow_box">
                                                        <a class="dropdown-item py-1" data-toggle="modal" data-target="#default8560"><span>Delete</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="py-2 px-2 media-body">
                                            <a href="">
                                                <i class="fa fa-commenting-o white float-left d-block font-medium-4 mt-2 mr-2"></i>
                                                <h4 class="courses-num font-medium-3 text-bold-400 ">Comment</h4>
                                                <p class="text-black-50"><b>Lý Thị Huyền Châu : </b>Nhóm làm rất tốt. </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block text-white">
                        <div class="col-12">
                            <div style="background-color: #03A9F4 " class="card">
                                <div class="card-body">
                                    <div class="media align-items-stretch">
                                        <div class="actions float-right">
                                            <div class="dropdown ml-2 display-inline-block">
                                                <a id="apps" href="" data-toggle="dropdown" class="ft-more-vertical white" aria-expanded="false"></a>
                                                <div class="apps dropdown-menu">
                                                    <div class="arrow_box">
                                                        <a class="dropdown-item py-1" data-toggle="modal" data-target="#default8560"><span>Delete</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="py-2 px-2 media-body">
                                            <a href="">
                                                <i class="fa fa-commenting-o white float-left d-block font-medium-4 mt-2 mr-2"></i>
                                                <h4 class="courses-num font-medium-3 text-bold-400 ">Comment</h4>
                                                <p class="text-black-50"><b>Cong.197pm21898@vanlanguni.vn  : </b> Dạ em cảm ơn cô ạ !  </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block text-white">
                        <div class="col-12">
                            <div style="background-color: #03A9F4 " class="card">
                                <div class="card-body">
                                    <div class="media align-items-stretch">
                                        <div class="actions float-right">
                                            <div class="dropdown ml-2 display-inline-block">
                                                <a id="apps" href="" data-toggle="dropdown" class="ft-more-vertical white" aria-expanded="false"></a>
                                                <div class="apps dropdown-menu">
                                                    <div class="arrow_box">
                                                        <a class="dropdown-item py-1" data-toggle="modal" data-target="#default8560"><span>Delete</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="py-2 px-2 media-body">
                                            <a href="">
                                                <i style="color: #FF9800 " class="fa fa-file-text-o float-left d-block font-medium-4 mt-2  mr-3"></i>
                                                <h4 style="color: #FF9800 " class="courses-num font-medium-3 text-bold-400 ">Report Estimate  </h4>
                                                <p class="text-black-50">Estimate report week 5 has been created.  </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block text-white">
                        <div class="col-12">
                            <div style="background-color: #03A9F4 " class="card">
                                <div class="card-body">
                                    <div class="media align-items-stretch">
                                        <div class="actions float-right">
                                            <div class="dropdown ml-2 display-inline-block">
                                                <a id="apps" href="" data-toggle="dropdown" class="ft-more-vertical white" aria-expanded="false"></a>
                                                <div class="apps dropdown-menu">
                                                    <div class="arrow_box">
                                                        <a class="dropdown-item py-1" data-toggle="modal" data-target="#default8560"><span>Delete</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dropdown-item noti-container py-2">
                                            <i style="color: #ff0000" class="fa fa-trophy float-left d-block font-medium-2 mt-1  mr-2"></i>
                                            <span class="noti-wrapper">
                                                <h4 style="color: #F44336" class="noti-title line-height-1 d-block text-bold-400 "> Point : 10 </h4>

                                            </span>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-block text-white">
                        <div class="col-12">
                            <div style="background-color: #03A9F4 " class="card">
                                <div class="card-body">
                                    <div class="media align-items-stretch">
                                        <div class="actions float-right">
                                            <div class="dropdown ml-2 display-inline-block">
                                                <a id="apps" href="" data-toggle="dropdown" class="ft-more-vertical white" aria-expanded="false"></a>
                                                <div class="apps dropdown-menu">
                                                    <div class="arrow_box">
                                                        <a class="dropdown-item py-1" data-toggle="modal" data-target="#default8560"><span>Delete</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="py-2 px-2 media-body">
                                            <a href="">
                                                <i style="color: #FF9800 " class="fa fa-file-text-o float-left d-block font-medium-4 mt-2  mr-3"></i>
                                                <h4 style="color: #FF9800 " class="courses-num font-medium-3 text-bold-400 ">Report Estimate  </h4>
                                                <p class="text-black-50">Estimate report week 1 has been created.  </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>