@model IEnumerable<MeetingVL.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
}


<section id="minimal-statistics-bg">
    <div class="row">
        <div class="col-12  mb-1">
            <h2 class="content-header">Category</h2>

        </div>
    </div>
    <section class="taskboard-app-form bg-blue-grey bg-lighten-5">
        <div class="card">
            <div class="card-block pt-3">
                <h5 class="text-bold-500">Create new Category</h5>
                @using (Html.BeginForm("Create", "Categories"))
                {
                    @Html.AntiForgeryToken()
                    <form class="taskboard-app-input row">

                        <fieldset class="form-group position-relative has-icon-left col-md-4 col-12 " style="max-width: initial">
                            <div class="form-control-position">
                                <i class="icon-emoticon-smile"></i>
                            </div>
                            <input type="text" class="form-control" id="todoTitle" name="Name" placeholder="Title"
                                   required="required" oninvalid="this.setCustomValidity('Please enter name category')" oninput="setCustomValidity('')">
                            <div class="form-control-position control-position-right">
                                <i class="ft-image"></i>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary" style="float: right; margin-bottom:auto">
                                <i class="fa fa-paper-plane-o hidden-lg-up"></i> Create
                            </button>
                        </fieldset>
                    </form>
                }
            </div>
        </div>
    </section>


    <div class="row">
        @foreach (var item in Model)
        {
            if (item.State != "Deleted")
            {
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card gradient-light-blue-cyan">
                        <div class="card-body">
                            <div class="px-3 py-3">
                                <div class="clearfix">
                                    <a href="@Url.Action("Index","Projects",new { category_id = item.ID})" class="content-header white">@item.Name</a>
                                    <div class="actions float-right">
                                        <div class="dropdown ml-2 display-inline-block">
                                            <a id="apps" href="" data-toggle="dropdown" class="ft-more-vertical white" aria-expanded="false"></a>
                                            <div class="apps dropdown-menu">
                                                <div class="arrow_box">
                                                    @*<a href="" class="dropdown-item py-1"><span>Edit</span></a>*@
                                                    <a href="@Url.Action("Delete","Categories",new { id = item.ID})" class="dropdown-item py-1"><span>Delete</span></a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="white">June 16</span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }


    </div>
</section>

